<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sistema Hospital</title>
    </head>
    <body>
        <nav>
            <a th:href="@{/hospital}">Hospitales</a> |
            <a th:href="@{/doctor}">Doctores</a> |
            <a th:href="@{/paciente}">Pacientes</a>
        </nav>

        <hr/>

        <!-- Acá se inyectará el contenido específico de cada página -->
        <div th:replace="${contenido}"></div>
    </body>
</html>
