<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>Pacientes del Doctor</title></head>
    <body>

        <div th:replace="fragments :: navbar"></div>

        <h2>Próximas citas</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Diagnóstico</th>
                    <th>Fecha de Cita</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${pacientes}">
                    <td th:text="${p.nombre}">Nombre</td>
                    <td th:text="${p.diagnostico}">Diagnóstico</td>
                    <td th:text="${p.fechaCita}">Fecha</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
